body {
    background: #ffffff;
    padding: 16px;
    
}
canvas {
    border: 1px dotted blue;
    
}
.chart-container{
    position: relative;
    height: 40vh;
    width: 40vw;
    display: flex;
    align-items: flex-start;
    padding: 5%;
   
}